.imageproperties{
    border-radius: 40px;
  }
  .croppeimageproperties {
    width: 98vh; /* width of container */
    height: 91vh; /* height of container */
    object-fit: cover;
    object-position: 20% 10%; /* try 20px 10px */ 
    border-radius: 300px;
    margin-left: -70px;
  }
  