.headerRight__container{
    height:30%;
    width: 90%;
    background-color: black;
    color: white;
    border-radius: 3px;
  }
  
  .headerRight__container__header{
    background-color: #c6c6;
    height: 10%;
    width: 100%;
  }
  .headerRight{
    font-size: 25px;
      /* display: flex; */
      /* margin: 0 auto; */
      margin-left: 20px;
  }

  
.paragraph{
    display: flex;
    padding: 10px;
    align-items: center;
  }

  @media only screen and (max-width: 600px) {
    .developerName{
      font-size: 16px;
      justify-content: center;
    }

    .headerRight{
      font-size: 14px;
       
    }

    .showLinkViewWork{
      display: none;
    }

    
    
  }
  